In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head(3)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre

In [4]:
df.shape

(5043, 6)

In [5]:
df['comb'] = df['actor_1_name'] +' ' + df['actor_2_name'] +' ' + df['actor_3_name'] +' ' + df['genres']

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
cv = CountVectorizer()

In [8]:
count_matrix = cv.fit_transform(df['comb'])

In [9]:
count_matrix[4140]

<1x6869 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [10]:
similarity = cosine_similarity(count_matrix)

In [11]:
print(similarity)

[[1.         0.28867513 0.19245009 ... 0.09622504 0.         0.        ]
 [0.28867513 1.         0.22222222 ... 0.         0.         0.        ]
 [0.19245009 0.22222222 1.         ... 0.11111111 0.         0.        ]
 ...
 [0.09622504 0.         0.11111111 ... 1.         0.11111111 0.        ]
 [0.         0.         0.         ... 0.11111111 1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [12]:
similarity.shape

(5043, 5043)

In [13]:
i = df.loc[df['movie_title']=='avatar'].index[0]

In [14]:
lst = list(enumerate(similarity[i]))
lst = sorted(lst, key = lambda x:x[1] ,reverse=True)

In [15]:
lst = lst[1:11]

In [19]:
print(lst)

[(637, 0.5222329678670935), (1127, 0.5222329678670935), (39, 0.4564354645876385), (1700, 0.4564354645876385), (2112, 0.4564354645876385), (15, 0.4351941398892446), (236, 0.4351941398892446), (237, 0.4351941398892446), (240, 0.4351941398892446), (455, 0.4351941398892446)]

In [16]:
l = []
for i in range(len(lst)):
            a = lst[i][0]
            l.append(df['movie_title'][a])

In [17]:
l

['mystery men',
 'deep rising',
 'the amazing spider-man 2',
 'wing commander',
 'robocop 3',
 'man of steel',
 'star wars: episode iii - revenge of the sith',
 'star wars: episode ii - attack of the clones',
 'star wars: episode i - the phantom menace',
 'face/off']

In [18]:
df.to_csv('main_data.csv',index=False)